




body {
    background-color: #FFFFFF;
}

h1 {
    color: #01050B;
    text-align: center;
    font-size: 450%;


}

#menu{
 background:#9f9f9;
 border:solid 1px #000000;
 border-radius:3px;
 width:600px;
 padding:5px;
 text-align:center
 }
menu{
 color:#000000;
 display:inline-block;
 margin:0px;
 background:linear-gradient(#fff 0%,#dedede 100%);
 background:-moz-linear-gradient(#fff 0%,#dedede 100%);
 background:-ms-linear-gradient(#fff 0%,#dedede 100%);
 background:-o-linear-gradient(#fff 0%,#dedede 100%);
 background:-webkit-linear-gradient(#fff 0%,#dedede 100%);
 border:solid 1px #f9f9f9;
 border-radius:5px;
 width:100px;
 padding:5px;
 }
menu:hover{
 background:linear-gradient(#DEDEDE 0%, #FFF 100%);
 background:-moz-linear-gradient(#DEDEDE 0%, #FFF 100%);
 background:-ms-linear-gradient(#DEDEDE 0%, #FFF 100%);
 background:-o-linear-gradient(#DEDEDE 0%, #FFF 100%);
 background:-webkit-linear-gradient(#DEDEDE 0%, #FFF 100%);
 border-radius:3px;
 border:solid 1px #333;
 color:red;
 }
 
